# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Dependencies
Gemfile.lock
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

dist/
data/catalog.json
data/contributors.json
